<h1 class="m-4 color-theme">About us</h1>


<section id="about-us" class="section-about-us">
	<div class="container">
	  <div class="row">
		<div class="col-md-6">
		  <h2 class="section-title">Who We Are</h2>
		  <p class="section-subtitle">Aahar Ayojan is a platform dedicated to providing food to poor people across the country. Our main aim is to eliminate hunger and satisfy the food needs of needy people by providing them from our donors.</p>
		  <p>We believe that everyone deserves access to healthy and nutritious food, regardless of their financial situation. We work to connect donors with people in need, and we strive to make the process as easy and efficient as possible.</p>
		</div>
		<div class="col-md-6">
		  <img src="/assets/images/img-2.jpg" alt="Image of people receiving food from Aahar Ayojan" class="img-fluid">
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-6">
		  <img src="/assets/images/img-1.jpg" alt="Image of Aahar Ayojan volunteers" class="img-fluid">
		</div>
		<div class="col-md-6">
		  <h2 class="section-title">Our Mission</h2>
		  <p>Our mission is to provide nutritious food to people in need, and to do so with dignity and respect. We believe that food is a basic human right, and we work tirelessly to ensure that no one goes hungry.</p>
		  <p>We are committed to building a community of donors and volunteers who share our vision, and to creating a sustainable and equitable food system for all.</p>
		</div>
	  </div>
	</div>
  </section>
  